<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>ChatApp</title>
  <meta http-equiv="refresh" content="30"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"/>
</head>
<body>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading"><h2 style="text-align: center">Peer to Peer Chat Program</h2></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-success">
            <div class="panel-heading" style="text-align: center">User</div>
            <div class="panel-body">
              <div class="text-center">
                <table>
                  <p><strong>Your username</strong></p>
                  <form th:action="@{/enter}">
                    <tr><input style="text-align: center; color: #9d9d9d" class="form-control"
                               type="text"
                               th:value="${userentry}" name="userentry"/></tr>
                    <p></p>
                    <tr><input class="btn btn-success btn-sm" type="submit" value="update"/></tr>
                  </form>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading" style="text-align: center">Chat
            </div>
            <div class="panel-body">
              <div class="text-center">
                <table>
                  <p><strong>Send Your Message</strong></p>
                  <form style="text-align: center" th:action="@{/send}" method="post">
                    <tr><textarea class="form-control" name="messages"
                                  placeholder="Enter your message here"></textarea></tr>
                    <p></p>
                    <tr>
                      <input class="btn btn-info btn-sm" type="submit" value="send"/>
                    </tr>
                  </form>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">

          <div class="panel panel-info">
            <div class="panel-heading">Chat Messages
              <a class="glyphicon glyphicon-refresh btn-sm"
                 type="submit" href="/"></a></div>
            <div id="scroll" style="overflow-y: scroll; max-height: 500px" class="panel-body">
              <ul th:each="message : ${messages}">
                <li><span th:onclick="'showTimestamp(\'' + ${message.timestamp} + '\');'"
                          class="btn btn-warning btn-xs" th:text="${message.username}"></span></li>
                <span th:text="${message.text}"></span>
                <div th:id="'timestamp-' + ${message.timestamp}"
                     style="color: #9d9d9d; display: none" th:text="${message.timestamp}"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/script.js"></script>
</body>
</html>