<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>ChatApp</title>
  <meta http-equiv="refresh" content="30"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"/>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Peer to Peer Chat Program</h1>
      <div class="panel panel-default">
        <div class="panel-heading">User</div>
        <div class="panel-body">
          <div class="text-center">
            <table>
              <form th:action="@{/enter}">
                <tr>
                  <td><strong>Your username </strong></td>
                  <td><input type="text" th:value="${userentry}" name="userentry"/></td>
                  <td><input class="btn btn-primary" type="submit" value="update"/></td>
                </tr>
              </form>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Chat</div>
        <div class="panel-body">
          <table>
            <p><strong>Message</strong></p>
            <form th:action="@{/send}" method="post">
              <tr>
                <td>
                  <textarea class="form-control" name="messages" rows="1"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="btn btn-primary" type="submit" value="send"/>
                  <a class="glyphicon glyphicon-refresh btn btn-default" type="submit" href="/"></a>
                </td>
              </tr>
            </form>
          </table>
          <ul th:each="message : ${messages}">
            <li><span class="btn btn-info btn-sm" th:text="${message.username}"></span></li>
            <span th:text="${message.text}"></span>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>