<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>
<table>
  <form th:action="@{/enter}">
    <tr>
      <td>Your username:</td>
      <td><input type="text" th:value="${userentry}" name="userentry:"/></td>
      <td><input type="submit" value="update"/></td>
    </tr>
  </form>
</table>
<ul>
  <li>App</li>
  Hi there! Submit your message using the send button!
</ul>
<form action="/sendmessage" method="post">
  <textarea name="message" rows="8" cols="40">
  Enter yor message!</textarea>
  <input type="submit" value="send"/>
</form>
</body>
</html>